* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 100px;
}

.logo {
  height: 70px;
  width: 70px;
  margin-top: 20px;
  margin-left: 30px;

}

h2 {
  font-family: sans-serif;
  text-align: center;
  display: inline-block;
  top: -40px;
  margin-left: 80px;
  position: relative;
  left: 750px;
}

.search {
  display: inline-flex;
  color: #fff;
  padding: 15px;
  position: absolute;
  margin-left: 1400px;
  top: 20px;
  border-radius: 4px;
}

.search input,
button {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}

.input {
  width: 0;
  transition: 0.5s;
}

.btn {
  width: 25px;
  height: 25px;
  transition: 0.25s;
}

.search:focus-within input {
  width: 120px;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.video {
  width: 2045px;
  height: 880px;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 550px;
  left: -80px;
  text-align: left;
  font-size: 80px;
  font-weight: 700;
}

p {
  position: absolute;
  top: 750px;
  left: 0px;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 700;
}

.shop {
  position: absolute;
  top: 800px;
  left: 0px;
  background: white;
  width: 100px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  transition: 0.5s;
  font-weight: 700;
  font-size: 20px;
}

.shop:hover {
  background: black;
  color: white;
  transform: scale(1.1);
  transition: all 0.5s;
  
}

.two {
  background: rgb(225, 223, 223);
  height: 120vh;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
}
.web{
margin-top: 100px;
}
.Advertising {
  width: 600px;
  height: 800px;
  background: white;
  color: white;
  position: absolute;
  margin-left: 20px;
  margin-top: 100px;
  border-radius: 20px;
}

.Advertising:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.add {
  width: 500px;
  margin-top: 200px;
  margin-left: 50px;
}

.writing {
  position: absolute;
  color: black;
  font-family: sans-serif;
  font-size: 40px;
  margin-top: 50px;
  margin-left: 30px;
  font-weight: 600;
}

.cost {
  position: absolute;
  color: black;
  font-family: sans-serif;
  font-size: 35px;
  top: 100px;
  margin-left: 30px;
}

.colored {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 730px;
  left: 200px;
  border-radius: 50%;
}

.one {
  background: black;
  margin-left: 10px;
}

.twa {
  background: #382925;
  margin-left: 50px;
}

.three {
  background: #26263D;
  margin-left: 90px;
}

.four {
  background: #D8CFC8;
  margin-left: 130px;
}

.copy {
  position: absolute;
  margin-top: 100px;
  left: 700px;
}

.head {
  background: #2b2b2b;
  margin-left: 50px;
}

.middle {
  background: #d0d1d3;
  margin-left: 90px;
}

.end {
  background: #b10311;
  margin-left: 130px;
}

.finish {
  position: absolute;
  margin-top: 100px;
  left: 1400px;
}

.pink {
  background: pink;
  margin-left: 50px;
}

.red {
  background: red;
  margin-left: 90px;
}

.free {
  background: #B1B1B1;
  margin-left: 170px;
}

.content {
  width: 100%;
  height: 100vh;
  position: relative;
  height: auto;
  position: absolute;
  margin-top: 00px;
}

.the {
  position: absolute;
  top: 10px;
}

.gold {
  position: absolute;
  top: 190px;
}

.svg-text {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 25px;
  top: 230px;
  text-align: center;
  margin-left: 30px;
}

.kids {
  position: absolute;
  width: 500px;
  height: 500px;
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capy {
  position: absolute;
  margin-left: 750px;
}

.finishng {
  position: absolute;
  margin-left: 1350px;
}

a {
  text-decoration: none;
  margin-top: 200px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 700;
  color: black;
  transition: 0.5s;
}

a:hover {
  text-decoration: underline;
  color: orange;
}

.third {
  position: relative;
  top: 600px;
  overflow: hidden;
}

.brow {
  color: white;
  margin-left: 120px;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fit {
  color: white;
  margin-left: 50px;
}

.gif {
  position: absolute;
  top: 800px;
  left: 50px;
}
.card {
  width: 500px;
  height: 800px;
  background: white;
  color: white;
  position: absolute;
  margin-left: 20px;
  margin-top: 100px;
  border-radius: 20px;
}
.twe {
  font-weight: 100;
  font-size: 30px;
}
.fourth {
  object-fit: cover;
  position: absolute;
  margin-top: 600px;
  background: rgb(245, 241, 241);
  
}
.cover {
  position: relative;
  width: 480px;
  height: 500px;
  margin-top: 200px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devid {
  position: absolute;
  margin-left: 530px;
}

.desit {
  position: absolute;
  margin-left: 1050px;
}

.laylo {
  position: absolute;
  margin-left: 1560px;
}
.green {
  background: rgb(214, 206, 206);
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: 1560px;
}
.card:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.buulute{
margin-left: 700px;
top: 350px;
font-size: 70px;
}
.REGISTER{
  margin-left: 150px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background: black;
  color: white;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 500px;
}
.REGISTER:hover{
  background: white;
  color: black;
  transform: scale(1.1);
  transition: all 0.5s;

}
.width{
  width: 100%;
  height: 500px;
  position: relative;
  margin-left: 00px;
  margin-top: 2523px;
  background: white;
}
.Works {
  top: 200px;
  margin-top: 20px;
font-family: sans-serif;
position: relative;
font-size: 15px;
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
color: gray;
}
.Alish{
  width: 100%;
  height: 70vh;
background-color: black;
border: 2px solid red;
}
.gmail{
  width: 100px;
  height: 100px;
  margin-left: 950px;
  margin-top: 100px;
  border-radius: 10px;
  position: absolute;
background: white;
}
.lorem{
color: white;
text-align: center;
margin-top: 200px;
font-family: sans-serif;
font-size: 40px;
font-weight: 700;
}
.miss{
  position: relative;
  text-align: center;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
top: -160px;
}
.field {
  position: relative;
  width: 250px;
  margin-left: 880px;
  margin-top: -90px;
}
.label {
  color: #919293;
  box-sizing: border-box;
  display: block;
  font-size: .8125em;
  line-height: 1;
  opacity: 0;
  overflow: hidden;
  padding: .5em 1em;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  text-align: left;
  transform: translateY(3px);
  transition: all .2s ease-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}
.email {
  background-color: #f5f5f5;
  border: 2px solid #e9e9e9;
  color: #333;
  font-size: 1.3125em;
  padding: .4761904762em;
  transition: all .2s ease-out;
  width: 100%;

}